body {
  color: #333;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  width: 100%;
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;
  text-align: center;
  color: #EFEFEF;
}

.body {
  min-width: 1000px;
  max-width: 1200px;
  background-color: #FEFEFE;
}

.header {
  width: 100%;
  padding: 50px 0px;
  background-color: #223366;
}